nav a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  font-size: 24px;
  border: 2px solid currentColor;
  padding: 4px 10px;
  transition: .2s all;
  background: var(--gray-dark);
  height: 32px;
}

nav a:nth-child(2) {
  margin-left: auto;
}

nav a:before,
nav a:after {
  display: block;
  position: absolute;
  content: '';
  transition: .2s all;
}

nav a:hover:before {

}

a[href='/'][aria-current] {
  display: none;
}

a[href='projects']:before {
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: 2px solid currentColor;
}

a[href='projects']:after {
  top: -5px;
  width: 32px;
  background: var(--gray-dark);
  box-shadow: inset 0 0 0 2px currentColor;
}

a[href='projects']:hover {
  transform: rotate(1deg);
}

a[href='projects']:hover:before {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  //transform: rotate(-1deg);
}

a[href='projects']:hover:after {
  height: 12px;
  content: 'n';
  width: 15px;
  line-height: 12px;
  //transform: translate(-4px, 4px);
  color: currentColor;
  display: inline-block;
}

a[href='games']:before,
a[href='games']:after {
  width: 2px;
  height: 14px;
  background-color: currentColor;
}

@keyframes play {
  0%   { transform: translateY(-8px); }
  100% { transform: translateY( 8px); }
}

a[href='games']:before {
  left: -2px;
}

a[href='games']:after {
  right: -2px;
}

a[href='games']:hover:before {
  left: 4px;
  animation: 1s linear infinite alternate play;
}

a[href='games']:hover:after {
  right: 4px;
  animation: 1s linear infinite alternate-reverse play;
}

a[href='blog']:before,
a[href='blog']:after {
  z-index: -1;
  transition: .25s all steps(3, end);
}

a[href='blog']:before {
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  border-left: 2px solid currentColor;
  left: 10px;
  right: 10px;
  top: calc(100% - 18px);
  height: 18px;
}

a[href='blog']:after {
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  left: 20px;
  right: 20px;
  top: calc(100% - 12px);
  height: 4px;
}

a[href='blog']:hover:before {
  top: 100%;
}

a[href='blog']:hover:after {
  top: calc(100% + 6px);
}
