nav a {
  position: relative;
  display: flex;
  align-items: center;
  margin: 8px;
  font-size: 24px;
  border: 2px solid var(--color-white);
  padding: 4px 10px;
}

nav a:nth-child(2) {
  margin-left: auto;
}

nav a:before {
  display: block;
  position: absolute;
  border-top: 2px solid currentColor;;
  border-bottom: 2px solid currentColor;;
  top: -2px;
  right: 0px;
  bottom: -2px;
  left: 0px;
  content: '';
  transition: .2s all;
}

nav a:hover:before {
  //right: 4px;
  //left: 4px;
  top: 4px;
  bottom: 4px;
}