
.home a {
  color: var(--yellow);
  background-image: linear-gradient(
    transparent calc(100% - 1px),
    white calc(100% - 1px)
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size .2s;
  text-decoration: underline;;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--nearly-white);
}

.home a:hover {
	background-size: 100% 100%;
}