main.home,
main.blog,
main.post,
main.bio {
  box-sizing: border-box;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

main.home > div {
  max-width: 500px;
}

main.blog h1 {
  text-align: center;
}

main.post > * {
  /* At 500px wide this is full width */
  width: calc(50% + 250px - 1rem);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}